html {

	width: 50%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;	
	
}

#title_block {
	text-align: center;
	padding: 5px;
	background-color: #dcedcf;

	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 2px #646464;
	
}